.popup-wrap{
    background-color:rgba(0,0,0,.3); 
    /* 배경색과 투명도로 살짝 어둡지만 투명한 배경 */
    justify-content:center; /*수평 중앙정렬*/
    align-items:center;     /*수직 중앙정렬*/
    position:fixed;         /* 포지션 픽스, 화면이 스크롤되더라도 고정되기 위함*/
    top:0;
    left:0;
    width: 100%;
    height: 100%;               
    /* 비활성: display:none */
    /* 활성 display:flex; */
    display:none; 
}
.popup{
    width:100%;               /*반응형 : 가로값은 100%*/
    max-width:400px;          /*팝업의 최대 크기지정*/
    border-radius:10px;       /*모달 border 라운드 처리*/
    overflow:hidden;          /*각을 없앴을 때 내부 영역이 튀어나오는걸 방지*/
    background-color:#264db5; /*배경색*/
    /*팝업이 허공에 떠있는 듯한 느낌을 주기 위한 그림자 효과.*/
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
}
.popup-body{                /*몸통*/
    width:100%;
    background-color:#ffffff; /*컨텐츠 영역의 배경색*/
}
.body-content{              /*몸통 내부 컨텐츠 영역*/
    width:100%;
    padding-top:10px;             /*좌우에 내용이 붙으면 보기 안좋기 때문에 간격 띄움*/
}
.body-titlebox{             /*컨텐츠 타이틀 영역*/
    text-align:center;        /*제목 중앙정렬*/
    width:100%;
    height:40px;
    margin-bottom:30px;       /*내용과 간격 조정*/
}
.body-contentbox{           /*컨텐츠 내용 영역*/
    word-break:break-word;    /*단어가 짤리지 않음*/
    text-align: center;
    overflow-y:auto;          /*내부요소가 지정한 세로 값보다 클 경우 스크롤 생성*/
    min-height:60px;         /*최소 높이*/
    max-height:60px;         /*최대 높이*/
}
.body-contentbox input{           /*컨텐츠 내용 영역*/
    height: 30px;
    width: 80%;
    border-radius:10px;
    border-color: darkviolet;
    font-size: 20px;
    text-align: center;
}
.popup-foot{
    width:100%;
    height:50px;
}
.pop-btn{ 
    display:inline-flex;            /*한줄로 나열하기 위한 inline속성과 flex속성 혼합*/
    width:50%;                      /*2개 버튼 각각 50% 영역*/
    height:100%;                    /*50px*/
    justify-content:center;         /*수평정렬*/
    align-items:center;             /*수직정렬*/
    float:left;                     /*좌측배치*/
    color:#ffffff;                /*글자색*/
    cursor:pointer;                 /*마우스 포인터 효과*/
}
.pop-btn.confirm{                 /*확인버튼*/
    border:1px solid #3b5fbf; /*오른쪽 줄*/
    background-color: #3b5fbf;
}
.pop-btn.close{
    border:1px solid #bf3b3b; /*오른쪽 줄*/
    background-color: #bf3b3b;
}